@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



body{
    background-image: url(../imagens/salvador.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    ;
}
   .container{
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 30px;
    background-color: #C4DDF2;
    opacity: 10;
    
    }
    h1{

    text-align: center
     }

     h3{

        text-align:center;
     }
    .container-fluid{

        background-color: #7595BF;
     }
     * {
         margin-top: auto;
         padding: 0;
         box-sizing: border-box;
         font-family: 'Open Sans', sans-serif;
     }
     .centro {
        position: absolute;
        top: 50%;
        left: 50%;
        transition: translate(-50%, -50%);
        text-align: center;
        padding: 10px;
    }
    #menu-h{
        background-color: rgb(37, 37, 39);
    }
    
    #menu-h ul {
        max-width: 800px;
        list-style: none;
        padding: 0;
    }
    
    #menu-h ul li {
        display:inline;
    }
    
    #menu-h ul li a {
        color: rgb(12, 11, 11);
        padding: 20px;
        display: inline-block;
        text-decoration: none;
        transition: background-4s;
    }
    
    
    #menu-h ul li a:hover {
        background-color: #34609F;
    }
     
     
     
   