
body{
    background-image: url(../imagens/salvador.webp);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Helvetica, sans-serif;
    
}
.container{
    margin-top: 130px;
    padding: 30px;
    background-color: #C4DDF2;
    opacity: 10;
    border-style: solid;
    border-color: aquamarine;
   
}
.nav-wrapper{

    background-color: #5434af ;
}

h1{
    text-align: center;
}

 h3{
     text-align:center;
}

a.active, a:hover {
    background:#1d075f ;
    transition: .5s;
}






