.container {
        margin-top: 130px;
        padding: 30px;
        background-color: #C4DDF2;
        border-style: solid;
        border-color: aquamarine;
}
    .nav-wrapper{

        background-color: #5434af ;
    }
    body {
        background-image: url(../imagens/fortaleza.webp);
        background-attachment: fixed;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    a.active,a:hover {
        background: #1d075f;
        transition: .5s;
    }