.sub-cabecalho {

   
    background-color: #B4BEC9;
    text-align: center;
    font-family: Andale Mono, monospace;
    color: #FFEB48;
    background-size: 100%;
}

.col{
    
    margin-bottom: 5%;
}
.border_coluna {
    border-radius: 20px;
    border-bottom: 3px solid #FFFFFF;
    border-right: 3px solid#FFFFFF;
    border-left: 3px solid #FFFFFF;
    border-top: 3px solid #FFFFFF;

}
.carousel-item{

    background-image: url(../imagens/201905151557932856maceio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
 
}



.row_texto h1 {
    border-radius: 20px;
    border-bottom: 3px solid #FFFFFF;
    border-right: 3px solid#FFFFFF;
    border-left: 3px solid #FFFFFF;
    border-top: 3px solid #FFFFFF;
    background-color: #5434af;
    text-align: center;
    color: #fff;
}


p {
    text-align: center;
    text-align: justify;
    font-family: Andale Mono, monospace;
    font-size: larger;
    color: aliceblue;
    padding-top: 20px;
}

a.active,
a:hover {
    background: #1d075f;
    transition: .5s;
}

.nav-wrapper {

    background-color: #5434af;
}

@media screen and (max-width: 500px) {
    .column {
        width: 100%;
    }
}