@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



.text{
    text-align: center;
    font-size: xx-large;
    font-style:normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 40px;
    padding-top: 30px;
    color: #024059;
    text-shadow: #7595BF;
}

.container-fluid{
    background-color: #7595BF;
    width: max-content;
}



body{
    background-image:url(../imagens/porto_de_galinhas.jpg);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;



}


.centro {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: translate(-50%, -50%);
    text-align: center;
    padding: 10px;
}


* {
   margin-top: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#menu-h{
    background-color: rgb(37, 37, 39);
}

#menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display:inline;
}

#menu-h ul li a {
    color: rgb(12, 11, 11);
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background-4s;
}


#menu-h ul li a:hover {
    background-color: #34609F;
}



    




