
.nav-wrapper{

    background-color: #5434af ;
}
a.active,
a:hover {
    background: #1d075f;
    transition: .5s;
}
h3{
    color: yellow;
    text-align: center;
}
h4{
    color: #5434af;
    text-align: center;
}
.col{
    
    margin-bottom: 5%;
}
.border_coluna {
    border-radius: 20px;
    border-bottom: 3px solid #FFFFFF;
    border-right: 3px solid#FFFFFF;
    border-left: 3px solid #FFFFFF;
    border-top: 3px solid #FFFFFF;

}
.carousel-item{

    background-image: url(../imagens/porto_de_galinhas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
 
}

.row {
    border-radius: 20px;
    border-bottom: 3px solid #FFFFFF;
    border-right: 3px solid#FFFFFF;
    border-left: 3px solid #FFFFFF;
    border-top: 3px solid #FFFFFF;
    background-color: cadetblue;
    opacity: 1000px;
}

.row_texto h1 {
    border-radius: 20px;
    border-bottom: 3px solid #FFFFFF;
    border-right: 3px solid#FFFFFF;
    border-left: 3px solid #FFFFFF;
    border-top: 3px solid #FFFFFF;
    background-color: #5434af;
    text-align: center;
    color: #fff;
}
@media screen and (max-width: 500px) {
    .column {
        width: 100%;
    }
}