@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.container-fluid{
    background-color: rgb(22, 21, 19);
    width: max-content;
}

.conteiner {
    width: max-content;
    margin: auto;
}

.conteiner img {
    width: max-content;
    height: fit-content;
}

.centro {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: translate(-50%, -50%);
    text-align: center;
    padding: 10px;
}


* {
   margin-top: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#menu-h{
    background-color: rgb(37, 37, 39);
}

#menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display:inline;
}

#menu-h ul li a {
    color: rgb(12, 11, 11);
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background-4s;
}


#menu-h ul li a:hover {
    background-color: rgb(24, 139, 233);
}


